{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">About this site</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    This is our blog. We've done it ourselves and can change it however we want. We really love our progect and hope that you'll enjoy it too.
                </div>
                <div class="col-md-6">
                    2014-2015
                </div>
            </div>
        </div>
    </section>
{% endblock content %}