<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
</head>

<body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                {% if user.is_authenticated %}
                    <h1>Hello, {{ user.username }}</h1>
                    <div style="text-align: right;">
                        <a href="/logout">Logout</a>
                    </div>
                    <div style="text-align: left;">
                        <a href="/addpost">Add post</a>
                    </div>

                {% else %}
                    <h1>Please log in</h1>
                    <form action="/login" method="post" role="form" class="form-inline">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password"/>
                        <button type="submit" class="btn btn-default">Log In</button>
                    </form>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock content %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>