{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Contacts of developers</h1>
                </div>
            </div>
            <div class="row">
                <h3> Dobrushskiy Alexey Leonidovich <br>
                    Safaryan Anna, 11 'A' <br>
                Liceum № 40, Nizhny Novgorod, Russia </h3>
            </div>
        </div>
    </section>
{% endblock content %}