{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">I'm sorry!</h1>
                </div>
            </div>
            <div class="row">
                <h3> Unfortunately, I can't recognize you. May be, you've entered wrong login/password. You also can chek in </h3>
            </div>
        </div>
    </section>
{% endblock content %}